@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* @apply font-chilanka; */
}
.text-blue-500{
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}
.text-red-500{
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}
.border-blue-500{
  border-color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}
.border-red-500{
  border-color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}
 @keyframes grow {
  from {
    width: 0;
    /* transform: scaleX(0) rotate(45deg); */
  }
  to {
    width: 100%;
    /* transform: scaleX(1) rotate(45deg); */
  }
}
@keyframes growRightDiagnal {
  from {
    width: 0;
    /* transform: scaleX(0) rotate(45deg); */
  }
  to {
    width: 130%;
    /* transform: scaleX(1) rotate(45deg); */
  }
}
@keyframes growLeftDiagonal {
  from {
    width: 0;
    /* transform: scaleX(0) rotate(45deg); */
  }
  to {
    width: 130%;
    /* transform: scaleX(1) rotate(45deg); */
  }
}
@keyframes grow-vert {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.animate-grow-vert {
  animation: grow-vert 0.8s ease-out forwards;
  transform-origin: top;
}
/* @keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
} */
.animate-growRightDiagnal {
  animation: growRightDiagnal 0.8s ease-out forwards;
  transform-origin: right;
}
.animate-growLeftDiagonal {
  animation: growLeftDiagonal 0.8s ease-out forwards;
  transform-origin: left;
}
.animate-grow {
  animation: grow 0.8s ease-out forwards;
}



@keyframes expandFromCenter {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.square {
  transform: scale(0);
  opacity: 0;
  animation: expandFromCenter 0.6s ease-out forwards;
}